<footer>
    
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="#">Termes et conditions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Politique d'accesibilité</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mapsite</a>
            </li>
        </ul>
		
		<!-- envoyer directement un mail : lien vers son adresse mail et ouvrir un mail avec le destinataire  -->
		<a class="nav justify-content-center" href="mailto:jennifer.cammaroto@hotmail.fr"> Envoyer un courriel à JenCa</a> 
        
    
		<p class="nav justify-content-center"> Copyright Friend&Go de Favola soit JenCa Tous droits réservés </p>
    </ul>
     
        
        
</footer>