<footer>
    <ul>
      	<li><a href="Site_mobile_Evenement.html"> Termes et conditions </a></li> 
			<li><a href="Site_mobile_Activite.html"> Politique d'accesibilité </a></li>
			<li><a href="Site_mobile_Notification.html"> Mapsite </a></li>
						<!-- Choisir entre p et li -->
			
	  
		<p> Contactez-moi pour toute information par courriel <p>
		
		<!-- envoyer directement un mail : lien vers son adresse mail et ouvrir un mail avec le destinataire  -->
		<a href="mailto:jennifer.cammaroto@hotmail.fr"> envoyer un courriel à JenCa</a> 
		
		<p> Copyright Friend&Go de Favola soit JenCa Tous droits réservés </p>
    </ul>
</footer>