<header>

   <nav class="">
        <aside>
		
			<p><a href="Site_mobile_Evenement.html"> Evenements </a></p> 
			<p><a href="Site_mobile_Activite.html"> Activités </a></p>
			<p><a href="Site_mobile_Notification.html"> Notifications </a></p>
			<p><a href="Site_mobile_Profil.html"> Profil </a> </p>
			

        </aside>
    </nav>
    
    <nav class="">
        <aside>
		
			<p><a href="Site_mobile_Evenement.html"> Evenements </a></p> 
			<p><a href="Site_mobile_Activite.html"> Activités </a></p>
			<p><a href="Site_mobile_Notification.html"> Notifications </a></p>
			<p><a href="Site_mobile_Profil.html"> Profil </a> </p>
			

        </aside>
    </nav>
        
        
</header>