<!-- METAS START -->
<meta charset="utf-8">
<meta title="demo">
<title> {{ page_title }}</title>
<!-- METAS END -->

<!-- STYLES START -->
<link href="/public/assets/stylesheets/base.css">
<link href="/public/assets/vendors/bootstrap/css/bootstrap.css">
<!-- STYLES END -->

<!-- SCRIPTS START -->
<script type="text/javascript" src="/public/assets/scripts/base.js"></script>
<script type="text/javascript" src="/public/assets/vendors/bootstrap/js/bootstrap.js"></script>
<!-- SCRIPTS END -->