<header>

    
<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div class="row">
  <div class="col-1 col-md-2">dfsg</div>
  <div class="col-10 col-md-8">nameusers</div>
  <div class="col-1 col-md-2">logo</div>
</div>

<nav class="navbar navbar-light" style="background-color: #707070;">
       
    <a class="navbar-brand" href="#"><p class="text-white ">Menu</p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
      <li class="nav-item active">
        <a class="nav-link" href="/accueil"><p class="text-white "><p class="text-white ">Accueil</p></p><span class="sr-only">(current)</span></a>
      </li>
        
      <li class="nav-item">
          <a class="nav-link" href="/events"><p class="text-white ">Evénéments</p></a>
      </li>
        
      <li class="nav-item">
          <a class="nav-link" ref="/activities"><p class="text-white ">Activités</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profil"><p class="text-white ">Profil</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notifications"><p class="text-white ">Notifications</p></a>
      </li>
                
    </ul>
      
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Recherche</button>
    </form>
      
  </div>
</nav>
   
</header>