<header>

   <nav>
    <label for="menumobile" class="menumobile"> Menu</label>
    <input type"chekbox" id="menumobile" role="button">
    <ul>
        <li class="menuaccueil"><a href="Site_mobile_Accueil.html"> Accueil </a></li>
        <li class="menuaccueil"><a href="Site_mobile_Evenement.html"> Evenements </a></li>
        <li class="menuaccueil"><a href="Site_mobile_Activite.html> Activités </a></li>
        <li class="menuaccueil"><a href="Site_mobile_Notification.html"> Notifications </a></li>
        <li class="menuaccueil"><a href="Site_mobile_Profil.html"> Profil </a></li>
        
        
   </nav>
   
</header>