
{{#users}}
    {{ getId }}
    {{ getLastname }}
    {{ getFirstname }}
    {{ getAge }}
    {{ getGender }}
    {{ getEmail }}
    {{ getPassword }}
    <br><br>
{{/users}}

{{#user}}
    {{ getId }}
    {{ getLastname }}
    {{ getFirstname }}
    {{ getAge }}
    {{ getGender }}
    {{ getEmail }}
    {{ getPassword }}
{{/user}}

{{#activities}}
    {{ getId }}
    {{ getName }}
    {{ getDate }}
    {{ getEvent_id }}
    <br><br>
{{/activities}}

{{#activity}}
    {{ getId }}
    {{ getName }}
    {{ getDate }}
    {{ getEvent_id }}
{{/activity}}