	<main>
		
				<main>
		
			<h1> Accueil <h1>  <!-- titre principale de la page -->
			<!-- Trouver un meileur nom -->
		
		<!-- Contenu de la page -->
			<h2> Nouveautés de Friend&Go <h2>  
			
			<p> Le 31 août 2018 : Ce site est en cours de négociation avec paylib et Lydia pour faire des transmettre automatique avec votre accord, bien sûr</p> 
			<p> Le 31 août 2018 : Bientôt une application mobile </p>
			
			<!-- Faire une maquette et une page pour moi afin de remplir les nouveauté rapidement -->
			
			
		
		</main>