	   <nav>
        <aside>
		
			<p><a href="Site_mobile_Evenement.html"> Evenements </a></p> 
			<p><a href="Site_mobile_Activite.html"> Activités </a></p>
			<p><a href="Site_mobile_Notification.html"> Notifications </a></p>
			<p><a href="Site_mobile_Profil.html"> Profil </a> </p>
			
        </aside>
    </nav>
    
    <main>

		
			<h1> Actualités <h1>  <!-- titre principale de la page -->
			
		
		<!-- Contenu de la page -->
			<h2> Nouveautés de Friend&Go <h2>  
			
			<p> Le 31 août 2018 : Ce site est en cours de négociation avec paylib et Lydia pour réaliser des transfert automatique avec votre accord, bien sûr</p> 
			<p> Le 31 août 2018 : Bientôt une application mobile </p>
			
			<!-- Faire une maquette et une page pour moi afin de remplir les nouveautés rapidement -->
			
			
		
		</main>