<main>
                
    <div class="d-flex p-2 bd-highlight justify-content-end">
 
        <div class="p-2 bd-highlight"><a class="btn btn-primary btn-lg active" href="/inscription" role="button">Inscris-toi</a></div>
        <div class="p-2 bd-highlight"><a class="btn btn-primary btn-lg" href="/connexion" role="button">Connectes-toi</a>
        </div>
        
     </div>
        
			<h1 class="mx-auto" style="width: 200px;"> Actualités <h1>  <!-- titre principale de la page -->
            <br>
		
		<!-- Contenu de la page -->
			<h2> Nouveautés de Friend&Go <h2> 
            
         <div class="container-fluid">
            <dl class="row">
              <dt class="col-sm-3">Le 31 août 2018 :</dt>
              <dd class="col-sm-9">Ce site est en cours de négociation avec paylib et Lydia pour réaliser des transfert automatique avec votre accord, bien sûr</dd>

              <dt class="col-sm-3">Le 31 août 2018 :</dt>
              <dd class="col-sm-9">
                  <p>Bientôt une application mobile</p>
                </dd>    
            </dl>
             
         </div>
  		
			<!-- Faire une maquette et une page pour moi afin de remplir les nouveautés rapidement -->
       
 </main>   
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/events">Evenements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activity">Activités</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/notifications">Notifications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profil">Profil</a>
                </li>
            </ul>
  
		

                
 