 <main> 
		
<!-- Contenu de la page -->
                
        <!-- Bouton de création de nouvelle activité -->
                
    <div class="d-flex p-2 bd-highlight justify-content-end">
 
        <div class="p-2 bd-highlight">Créer une activité</div>
        <div class="p-2 bd-highlight"><a class="btn btn-primary btn-lg" href="" role="button">+</a>
        </div>
        
     </div>
              
        
        <!-- titre principale de la page --> 
            
         <h1 class="mx-auto" style="width: 200px;"> Activités<h1>  
             
             <br>
        <!-- Liste d'activité -->        
                
                  
        <h3> Activités de l'événement : {{ event.name }}<h3> 
        {{#activities}}
             <div class="d-flex flex-row bd-highlight mb-5">
                <div class="p-2 bd-highlight">Name</div>
                <div class="p-2 bd-highlight">Date</div>
            </div> 
            <div class="d-flex flex-row bd-highlight mb-5">
                <div class="p-2 bd-highlight">{{ name }}</div>
                <div class="p-2 bd-highlight">{{ date }}</div>
            </div> 
        {{/activities}}
       
    </main> 
