<h1> Connectes-toi : <h1>  <!-- titre principale de la page -->

<form action="/users/connect" method="post"> <!-- déposer les élément du formulaire dans la base de données SQL associée -->

	<div>
		<label for="mail">Identifiant ( ton E-mail) :</label> <!-- Texte déjà écrit -->
		<input type="email" id="mail" name="email"> <!-- case à remplir -->
	</div>
	<div>
		<label for="Password"> Mot de passe :</label> <!-- Texte déjà écrit -->
		<input type="password" id="password" name="Password"> <!-- case à remplir -->
	</div>
						
	<input TYPE="submit" NAME="Submit" VALUE="Envoyer">
	
</form>