<main>
        <!-- titre principale de la page -->
			<h1> Evénements <h1> 
                
    <!-- Contenu de la page -->
                
        <!-- Bouton de création de nouvelle activité -->
             
    <div class="d-flex p-2 bd-highlight justify-content-end">
 
        <div class="p-2 bd-highlight">Créer un événement</div>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">+</button>
        </div>
        
     </div>
                
        <!-- Liste d'activité -->        
               
            <pre>
            <h3> Evénements : <h3> 
			
        {{#openedEvents}}
            <div class="d-flex flex-row bd-highlight mb-4">
                <div class="p-2 bd-highlight">{{ name }}</div>
                <div class="p-2 bd-highlight">{{ event_type }}</div>
                <div class="p-2 bd-highlight">{{ date_start }}</div>
                <div class="p-2 bd-highlight">{{ date_end }}</div>
                <div class="p-2 bd-highlight"><a href="/activities?event_id={{ id }}">Voir les activités</a></div>
            </div> 
        {{/openedEvents}}
                
			 <h3> Evénements Clotûrés: <h3> 
                 
        {{#closedEvents}}
            <div class="d-flex flex-row bd-highlight mb-4">
                <div class="p-2 bd-highlight">{{ name }}</div>
                <div class="p-2 bd-highlight">{{ event_type }}</div>
                <div class="p-2 bd-highlight">{{ date_start }}</div>
                <div class="p-2 bd-highlight">{{ date_end }}</div>
                <div class="p-2 bd-highlight"><a href="/activities?event_id={{ id }}">Voir les activités</a></div>
            </div> 
        {{/closedEvents}}
      
       </pre>
       
</main> 

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form action="/events/create" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Create events</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="eventName">Name</label>
                    <input type="text" class="form-control" id="eventName" name="name" placeholder="name" required>
                </div>
                <div class="form-group">
                    <label for="eventType">Type</label>
                    <select class="form-control" id="eventType" name="event_type">
                        <option value="vacances" default>vacances</option>
                        <option value="soirée">soirée</option>
                        <option value="week-end">week-end</option>
                        <option value="journée">journée</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="eventDateStart">date start</label>
                    <input type="date" class="form-control" id="eventDateStart" name="date_start" placeholder="name" required>
                </div>
                <div class="form-group">
                    <label for="eventDateEnd">date end</label>
                    <input type="date" class="form-control" id="eventDateEnd" name="date_end" placeholder="name">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
  </div>
</div>
