<main>
        <!-- titre principale de la page -->
			<h1> Evénements <h1> 
                
    <!-- Contenu de la page -->
                
        <!-- Bouton de création de nouvelle activité -->
             
    <div class="d-flex p-2 bd-highlight justify-content-end">
 
        <div class="p-2 bd-highlight">Créer un événement</div>
        <div class="p-2 bd-highlight"><a class="btn btn-primary btn-lg" href="" role="button">+</a>
        </div>
        
     </div>
                
        <!-- Liste d'activité -->        
               
            <pre>
            <h3> Evénements : <h3> 
			
        {{#openedEvents}}
            <div class="d-flex flex-row bd-highlight mb-4">
                <div class="p-2 bd-highlight">{{ name }}</div>
                <div class="p-2 bd-highlight">{{ event_type }}</div>
                <div class="p-2 bd-highlight">{{ date_start }}</div>
                <div class="p-2 bd-highlight">{{ date_end }}</div>
            </div> 
        {{/openedEvents}}
                
			 <h3> Evénements Clotûrés: <h3> 
                 
        {{#closedEvents}}
            <div class="d-flex flex-row bd-highlight mb-4">
                <div class="p-2 bd-highlight"> name </div>
                <div class="p-2 bd-highlight"> event_type </div>
                <div class="p-2 bd-highlight"> date_start </div>
                <div class="p-2 bd-highlight"> date_end </div>
            </div> 
        {{/closedEvents}}
      
       </pre>
       
</main> 
