<h1> Inscris-toi en remplissant ce formulaire : <h1>  <!-- titre principale de la page -->
		
		<p></p> 
		
		<form action="/users/create" method="POST"> <!-- déposer les élément du formulaire dans la base de données SQL associée -->
		
			<div>
				<label for="mail">E-mail:</label> <!-- Texte déjà écrit -->
				<input type="email" id="mail" name="email" value =""> <!-- case à remplir -->
			</div>
			
			 <div>
				<label for="password"> Mot de passe </label>
				<input type="password" id="mdp" name="password" value="">
			</div>
			
			<div>
				<label for="password1"> Confirmer une nouvelle fois votre mot de passe </label>
				<input type="password1" id="mdp1" name="password1">
			</div>
			
			<div>
				<label for="firstname">Prénom :</label> <!-- de même pour chacun des inputs et des labels pour chacune des données -->
				<input type="text" id="name" name="firstname" value="">
			</div>
			 <div>
				<label for="lastname">Nom :</label>
				<input type="text" id="name" name="lastname" value="">
			</div>
			
			 <div>
				<label for="age"> Age :</label> 
				<input type="text" id="name" name="age" value="">
				<label> ans</label>
			</div>
			
			 <div>
				<label for="gender"> Homme </label>
				<input type="radio" id="name" name="gender" value= "male">
				<label for="gender"> Femme </label>
				<input type="radio" id="name" name="gender" value= "female">
			</div>
						 
			 <!-- If email ou mot ne se trouve dans la base de donnée 
					if gender="" or  age="" or lastname="" or firsname=" or password1="" or password="" or email =""
			       if password contient au moins une lettre en majuscule et un chiffre et un caractère spéciale
				   if password = password1 alors -->
				   
				   <input TYPE="submit" value="Envoyer">
				   <!--else 
						<script language="JavaScript">
						alert("Les mots de passes saisies ne sont pas identique". Merci de recommencer");
						window.location.replace("___.php");
						</script> 
						-->
					<!--else 
						<script language="JavaScript">
						alert("Il y a au moins une lettre en majuscule et un chiffre et un caractère spéciale. Merci de recommencer");
						<!-- window.location.replace("___.php"); -->
						</script> 
						-->
					<!--else 
						<script language="JavaScript">
						alert("Vous avez oublié de remplir un champ. Merci de recommencer");
						window.location.replace("______.php");
						</script> 
						-->
					<!--else 
						<script language="JavaScript">
						alert("Votre utilisateur n'existe pas dans notre base de données ou votre mot de passe n'est pas correct. Merci de recommencer, si le problème persiste veuillez nous contactez");
						window.location.replace("a_______.php");
						</script> 
						-->
				
				<input type="button" value="Annuler" onclick="location.href='tonlien'" />
		</form>