<main>
<h1> Inscris-toi en remplissant ce formulaire : <h1>  <!-- titre principale de la page -->
<br>		
		<p></p> 
		
		<form action="/users/create" method="POST"> <!-- déposer les élément du formulaire dans la base de données SQL associée -->
		
			<div>
				<label for="mail">E-mail :</label> <!-- Texte déjà écrit -->
				<input type="email" id="mail" name="email" value =""> <!-- case à remplir -->
			</div>
			
			 <div>
				<label for="password"> Mot de passe :</label>
				<input type="password" id="mdp" name="password" value="">
			</div>
			
			<div>
				<label for="password1"> Confirmer votre mot de passe : </label>
				<input type="password" id="mdp1" name="password1">
			</div>
			
			<div>
				<label for="firstname">Prénom :</label> <!-- de même pour chacun des inputs et des labels pour chacune des données -->
				<input type="text" id="name" name="firstname" value="">
			</div>
			 <div>
				<label for="lastname">Nom :</label>
				<input type="text" id="name" name="lastname" value="">
			</div>
			
			 <div>
				<label for="age"> Age :</label> 
				<input type="text" id="name" name="age" value="">
				<label> ans</label>
			</div>
			
			 <div>
				<label for="gender"> Homme </label>
				<input type="radio" id="name" name="gender" value= "male">
				<label for="gender"> Femme </label>
				<input type="radio" id="name" name="gender" value= "female">
			</div>
				   
				   <input type="submit" class="btn btn-primary mr-2" value="Envoyer">
				   
				<input type="button" class="btn btn-primary mr-2" value="Annuler" onclick="location.href='tonlien'" />
		</form>
</main>