<main></main>
      <h1 class="mx-auto" style="width: 200px;"> Profil </h1>
<br>
      <nav id="profiletabs">
        <ul class="nav nav-tabs">
          <li class="nav-item"><a class="nav-link" href="profil" class="profil">Profil</a></li>
          <li class="nav-item"><a class="nav-link disabled"href="friends">Amis</a></li>
        </ul>
      </nav>

      
      <section id="profil">
  
        <p> Nom </p>
        <p> Prenom </p>
        <p> Email </p>
        <p> Age </p>
        <p> Sexe </p>
  
 

</main>